body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

#container {
  border: 1px black solid;
  height: 960px;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  box-sizing: border-box;
  border: 1px #ddd solid;
  flex: 1 0 auto;
}

button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
